/*
Revision history:

DEVELOPER DATE COMMENTS
TianzhenSun(1830409) 2021-03-06 create file, and move style from style.css file
TianzhenSun(1830409) 2021-03-09 modify advertise section
*/
.product{
    padding: 20px 0;
}

.big{
    display: flex;
    align-items: center;
}

.big img{
    width: 600px;
}

.big .description{
    text-indent: 2rem;
    line-height: 2;
    font-size: 18px;
    margin-left: 20px;
}

.product .list{
    padding: 20px 0;
}

.product .list>div{
    display: inline-block;
    padding: 10px 0;
    margin-right: 10px;
}

.product .list img{
    width: 200px;
}

.product .list .twice img{
    width: 400px;
    border: 5px solid red;
}

.product .list .info{
    display: flex;
    justify-content: space-between;
}

.seperator{
    margin-top: 20px;
}


#product{
    margin: 0 auto;
    width: 50%;
}
#product .product-item{
    display: none;
    margin: 0 auto;
}

#product .product-item.twice{
    width: 100%;
}

#product .product-item.twice img{
    border: 5px solid red;
}

#product .product-item.normal{
    width: 50%;
}

#product .product-item:nth-of-type(1){
    display: block;
    visibility: visible;
}

#product .product-item img{
    width: 100%;
}

.product .info{
    display: flex;
    justify-content: space-between;
}