/*
Revision history:

DEVELOPER DATE COMMENTS
TianzhenSun(1830409) 2021-03-06 create file, add finish most of styles
TianzhenSun(1830409) 2021-03-06 seperate style of different page
*/
*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color:rgb(0, 0, 238);
}

ul{
    list-style: none;
}
body{
    padding: 10px 10%;
    background: #786090;
}
.content{
    /*padding: 0 10%;*/
    min-height: 800px;
}

.header{
    display: flex;
    /*align-items: center;*/
}

.header .logo img{
    width: 150px;
}

.header .company{
    text-indent: 2rem;
    /*margin-left: 30px;*/
    padding-left: 30px;
    line-height: 1.5;
    height: 150px;
    background: #93b3a3;
}

.header .company .name{
    font-weight: bold;
    font-size: 18px;
}

.nav{
    background: #93b3a3;
}

.nav li{
    display: inline-block;
    width: 100px;
    padding: 5px 0;
    text-align: center;
    border-right: 1px solid white;
}

.nav li.active a{
    color: red;
}

.footer{
    /*position: fixed;*/
    /*bottom: 0;*/
    /*width: 80%;*/
    padding: 20px 0;
    background: #93b3a3;
}
.footer p{
    text-align: center;
}




